main.aux
main.log
main.out
main.pdf
main.toc
textput.log

Worklog_report/main.aux
Worklog_report/main.log
Worklog_report/main.out
Worklog_report/main.pdf
Worklog_report/main.toc
Worklog_report/main.bbl
Worklog_report/main.blg
Worklog_report/texput.log

RA_report/main.aux
RA_report/main.log
RA_report/main.out
RA_report/main.pdf
RA_report/main.toc
RA_report/main.bbl
RA_report/main.blg
RA_report/texput.log

Running_MS_report/main.aux
Running_MS_report/main.log
Running_MS_report/main.out
Running_MS_report/main.pdf
Running_MS_report/main.toc
Running_MS_report/main.bbl
Running_MS_report/main.blg
Running_MS_report/texput.log


.vscode/